/* Design System */

.root {
    -primary-color: #33ADFF;
    -accent-color: #7A7A7A;
    -text-color: #303C42;
    -text-bg-color: #FAFAFA;
}

.anchorpane {
    -fx-background-color: -primary-color;
}

.btnEntra {
    -fx-background-radius: 7;
    -fx-text-fill: -text-color;
    -fx-background-color: transparent;
}

.btnEntra:hover {
    -fx-cursor: hand;
    -fx-background-color: -text-bg-color;
    -fx-effect: dropshadow(three-pass-box, -accent-color, 5, 0, 3, 3);
    -fx-alignment: center;
}

.text-field {
    -fx-background-color: -text-bg-color;

    -fx-border-color: -primary-color;
    -fx-border-radius: 7;
}

/* Stili per i pulsanti di aggiunta */

.add-button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, -accent-color, 5, 0, 3, 3);
}

/* Stili per i pulsanti normali */

.standard-button {
    -fx-background-radius: 7;
    -fx-background-color: transparent; /* Rimuove lo sfondo grigio */
    -fx-text-fill: -text-color;
    -fx-alignment: CENTER_LEFT;
}

.standard-button:hover {
    -fx-cursor: hand;
    -fx-background-color: -text-bg-color;
    -fx-effect: dropshadow(three-pass-box, -accent-color, 5, 0, 3, 3);
}

/* Stili per i pulsanti di filtro */

.filter-button {
    -fx-background-radius: 7;
    -fx-background-color: -primary-color;
}

.filter-button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, -accent-color, 5, 0, 3, 3);
}

/* Stile per la tabella */

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* Stile per il background dell'header della tabella */

.table-view .column-header-background {
    -fx-background-color: -primary-color;
    -fx-background-radius: 7 7 0 0;
}

/* Stile per i column header e i filler*/

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-size: 40px; /* Altezza header */
    -fx-border-color: transparent;
}

/* Stile per i label dei column header*/

.table-view .column-header .label {
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

/* Righe della tabella */

.table-row-cell {
    -fx-background-color: -text-bg-color;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: #ECEFF1;
    -fx-cell-size: 30px
}

/* Riga con focus */

.table-view:focused .table-row-cell:filled:selected, 
.table-row-cell:filled:selected:hover {
    -fx-background-color: lightgrey;
    -fx-background-insets: 0;
    -fx-text-fill: -text-color; 
}

/* Seleziona il testo all'interno di una cella, se la riga è selezionata */

.table-view:focused .table-row-cell:filled:selected .table-cell,
.table-row-cell:filled:selected:hover .table-cell {
    -fx-text-fill: -text-color;
}

/* Seleziona i label all'interno di una cella, se la riga è selezionata */

.table-view:focused .table-row-cell:filled:selected .table-cell .label,
.table-row-cell:filled:selected:hover .table-cell .label {
    -fx-text-fill: -text-color;
}

/* Riga all'hover del mouse */

.table-row-cell:filled:hover {
    -fx-background-color: -text-bg-color;
}

/* Righe In Ritardo */

/* Applica lo sfondo rosso alla riga della tabella quando ha la classe 'RITARDO' */
.table-row-cell.in-ritardo {
    -fx-background-color: #FFCCCC; /* Rosso molto chiaro */
    -fx-background-insets: 0;
}

.table-row-cell.in-ritardo .table-cell {
    -fx-text-fill: -text-color; 
}

.table-row-cell.in-ritardo:selected,
.table-row-cell.in-ritardo:filled:selected:hover {
    -fx-background-color: #FF9999;
}
